.load-more {
    display: block;
    margin: 30px auto;
    padding: 10px 32px;
    color: #ffffff;
    background-color: #47a0e9;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: 1px solid transparent;
    border-radius: 10px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    background-color: #0b83e6;
    }
}

.go-top {
    position: fixed;
    bottom: 32px;
    right: 32px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 3px solid blue;
    background-color: yellow;
    color: blue;

}